.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333;


  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .control-label {
    font-size: 22px;
    font-weight: bold;
    color: #333;
  }
  
  .input-group-addon {
    background-color: #e6e6e6;
    border: none;
  }
  
  .input-group-addon i {
    color: #999;
  }
  
  .input-lg {
    font-size: 20px;
    padding: 10px;
    width:350px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  #error-message {
    color: #ff0000;
    font-size: 14px;
  }
  
  .payment-form-icon {
    color: #666;
  }
  
  .text-muted {
    color: #999;
  }
  